.navigationBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

.navigationBar li {
  float: left;
}

.navigationBar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationBar li a:hover {
  background-color: rgb(61,61,61);
}

.navigationBar img {
  text-align: left;
  position: relative;
  width: 100px;
  height: 100px;
  background: #f69c7b;
}

.navigationBar p {
  text-indent: 50px;
  line-height: 15px;
  font-size: 40px;
  font-weight: bold;
  font-family: Modern, sans-serif;;
  color: white;
}

@font-face {
    font-family: Modern;
    src: url('Qanelas.otf');
}

@font-face {
    font-family: Modern;
    src: url('Qanelas-Bold.otf');
    font-weight: bold;
}
